{% extends 'base/base.html' %}

{% block page_content %}
   <form method="POST" class="form-inline">
       {% csrf_token %}
        <div class="col-xl-6 col-md-6 mb-6">
            
            {% if obj %}      
                <div class="card border-left-warning shadow h-100 py-2">
            {% else %}
                <div class="card border-left-success shadow h-100 py-2">
            {% endif %}
            
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {% if obj %} Editar {% else %} Nuevo {% endif %} Departamento
                            </div>                        
                            <div class="dropdown-divider"></div>
                            
                            <!-- primer fila -->
                            <div class="row mt-3">                                
                                <div class="col-10">
                                    {{ form.nombre.label }}
                                    <div class="input-group my-1">{{ form.nombre }}</div>
                                </div>
                            </div>

                            <!-- segunda fila -->
                            <div class="row my-3">                                                                
                                <div class="col-10">
                                    {{ form.numero_de_empleados.label }}
                                    <div class="input-group my-1">{{ form.numero_de_empleados }}</div>
                                </div>                                                               
                            </div>

                             <!-- {{ form.as_p }} -->
                            <div class="dropdown-divider"></div>
                            <div class="row">
                                 <div class="col">
                                    <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span>Guardar</button>
                                    <a href="{% url 'apoyos:departamentos_list' %}" class="btn btn-success"><span class="fa fa-undo">Cancelar</span></a>
                                </div>
                            </div>                                
                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
   </form>  
{% endblock page_content %}    
{% block js_page %} {% endblock js_page %}
    