{% extends 'base/base.html' %}

{% block page_content %}
   <form method="POST" class="form-inline">
       {% csrf_token %}
        <div class="col-xl-8 col-md-8 mb-8">
            
            {% if obj %}      
                <div class="card border-left-warning shadow h-100 py-2">
            {% else %}
                <div class="card border-left-success shadow h-100 py-2">
            {% endif %}
                <div class="card-body ">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {% if obj %} Editar {% else %} Nuevo {% endif %} Encargado de Ruta
                            </div>                        
                            <div class="dropdown-divider"></div>  

                            <!-- fila 1 -->
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    {{ form.nombres.label }}
                                    <div class="input-group">                                        
                                        {{ form.nombres }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    {{ form.ap_paterno.label }}
                                    <div class="input-group">
                                        {{ form.ap_paterno }}
                                    </div>
                                </div>                                
                            </div>

                             <!-- fila 2 -->
                             <div class="row mb-3">
                                <div class="col-md-6">
                                    {{ form.ap_materno.label }}
                                    <div class="input-group">                                        
                                        {{ form.ap_materno }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    {{ form.sexo.label }}
                                    <div class="input-group">
                                        {{ form.sexo }}
                                    </div>
                                </div>                               
                            </div>

                            <!-- fila 3 -->
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    {{ form.telefono.label }}
                                    <div class="input-group">
                                        {{ form.telefono }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    {{ form.domicilio.label }}
                                    <div class="input-group">
                                        {{ form.domicilio }}
                                    </div>
                                </div>                                
                            </div> 
                            
                            <!-- fila 4 -->
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    {{ form.email.label }}
                                    <div class="input-group">
                                        {{ form.email }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    {{ form.departamento.label }}
                                    <div class="input-group">
                                        {{ form.departamento }}
                                    </div>
                                </div>                                
                            </div>       
                                                                                            
                            <!-- {{ form.as_p }} -->
                            <div class="dropdown-divider"></div>
                            <div class="row mt-3">
                                 <div class="col">
                                    <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span>Guardar</button>
                                    <a href="{% url 'apoyos:encargados_list' %}" class="btn btn-success"><span class="fa fa-undo">Cancelar</span></a>
                                </div>
                            </div>                                
                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
   </form>  
{% endblock page_content %}    
{% block js_page %} {% endblock js_page %}
    