{% extends 'base/base.html' %}

{% load static %}

{% block page_content %}
   <form method="POST" class="form-inline">
       {% csrf_token %}
        <div class="col-xl-8 col-md-8 mb-8">
            
            {% if obj %}      
                <div class="card border-left-warning shadow h-100 py-2">
            {% else %}
                <div class="card border-left-success shadow h-100 py-2">
            {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {% if obj %} Editar {% else %} Nueva {% endif %} Persona 
                            </div>                        
                            <div class="dropdown-divider"></div>   

                            <div class="col mb-3">
                                <div class="card" style="width: 40rem;">
                                    <img src="{% static 'base/img/avatar-personal.svg' %}" class="card-img-top" alt="..." height="200px" width="200px">
                                    <div class="card-body">
                                      <h5 class="card-title text-md-center">Activistas/Activados - Pinos, Zacatecas</h5>                                     
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                <div class="col-md-10 ml-5 text-uppercase font-weight-bold">
                                    {{ form.curp.label }}:
                                    <div class="input-group">
                                        {{ form.curp }}
                                    </div>
                                </div>
                            </div>

                            <!-- fila 1 -->                            
                            <div class="row mb-3">
                                <div class="col-md-4 text-uppercase font-weight-bold">
                                    {{ form.nombres.label }}:
                                    <div class="input-group">                                        
                                        {{ form.nombres }}
                                    </div>
                                </div>
                                <div class="col-md-4 text-uppercase font-weight-bold">
                                    {{ form.ap_paterno.label }}:
                                    <div class="input-group">
                                        {{ form.ap_paterno }}
                                    </div>
                                </div>
                                <div class="col-md-4 text-uppercase font-weight-light">
                                    {{ form.ap_materno.label }}:
                                    <div class="input-group">
                                        {{ form.ap_materno }}
                                    </div>
                                </div>
                            </div>

                            <!-- fila 2 -->
                            <div class="row mb-3">
                                <div class="col-md-4 text-uppercase font-weight-bold">
                                    {{ form.tipo.label }}:
                                    <div class="input-group">
                                        {{ form.tipo }}
                                    </div>
                                </div>
                                
                                <div class="col-md-4 text-uppercase font-weight-bold">
                                    {{ form.genero.label }}:
                                    <div class="input-group">
                                        {{ form.genero }}
                                    </div>
                                </div>

                                <div class="col-md-4 text-uppercase font-weight-light">
                                    {{ form.fecha_de_nacimiento.label }}:
                                    <div class="input-group">
                                        {{ form.fecha_de_nacimiento }}
                                    </div>
                                </div>
                            </div>

                            <!-- fila 3 -->
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    {{ form.domicilio.label }}:
                                    <div class="input-group">
                                        {{ form.domicilio }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    {{ form.estado.label }}:
                                    <div class="input-group">
                                        {{ form.estado }}
                                    </div>
                                </div>                                
                            </div>

                            <!-- fila 4 -->
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    {{ form.telefono.label }}:
                                    <div class="input-group">
                                        {{ form.telefono }}
                                    </div>
                                </div>
                                <div class="col-md-6 text-uppercase font-weight-bold">
                                    {{ form.localidad.label }}:
                                    <div class="input-group">
                                        {{ form.localidad }}
                                    </div>
                                </div>
                            </div>
                            
                            <!-- {{ form.as_p }} -->
                            <div class="dropdown-divider"></div>
                            <div class="row mt-3">
                                 <div class="col">
                                    <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span>Guardar</button>
                                    <a href="{% url 'apoyos:personas_list' %}" class="btn btn-success"><span class="fa fa-undo">Cancelar</span></a>
                                </div>
                            </div>                                
                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
   </form>  
{% endblock page_content %}    

{% block js_page %}
   <script>
        // carga del DOM
        $(function(){
            
            $("#id_fecha_de_nacimiento").datetimepicker({  
                format: 'd/m/Y',  
                timepicker:false  
            });  
            
        });

        // validando errores en el form
        {% if form.errors %}
            //si el formulario tiene errores
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        mensaje('{{ error|escape }}', 'red')
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}


        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                mensaje('{{ error|escape }}', 'red')
            {% endfor %}
        {% endif %}
   </script>
{% endblock js_page %}

    