{% extends 'base/base.html' %}

{% load static %}

{% block page_content %}
   <form method="POST" class="form-inline">
       {% csrf_token %}
        <div class="col-xl-6 col-md-6 mb-6">
            
            {% if obj %}      
                <div class="card border-left-warning shadow h-100 py-2">
            {% else %}
                <div class="card border-left-success shadow h-100 py-2">
            {% endif %}
            
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {% if obj %} Editar {% else %} Nuevo {% endif %} Puesto
                            </div>                        
                            <div class="dropdown-divider"></div>

                            <div class="col">
                                <div class="card" style="width: 29rem;">
                                    <img src="{% static 'base/img/jobs.svg' %}" class="card-img-top" alt="..." height="200px" width="200px">
                                    <div class="card-body">
                                      <h5 class="card-title text-md-center">Puestos de Trabajo - Presidencia Municipal</h5>
                                      <!-- <p class="card-text">Toby es un perro muy jugueton y fuerte. Le gusta pasear todas las mañanas
                                        y conocer nuevos amigos para convivir con ellos</p> -->
                                      <!-- <a href="#" class="btn btn-primary">Vamos...</a> -->
                                    </div>
                                </div>
                            </div>
                            
                            <!-- primer fila -->
                            <div class="row my-3">                                
                                <div class="col-md-12">
                                    {{ form.nombre.label }}
                                    <div class="input-group mt-1">{{ form.nombre }}</div>
                                </div>
                            </div>
                            
                             <!-- {{ form.as_p }} -->
                            <div class="dropdown-divider"></div>
                            <div class="row">
                                 <div class="col">
                                    <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span>Guardar</button>
                                    <a href="{% url 'apoyos:puestos_list' %}" class="btn btn-success"><span class="fa fa-undo">Cancelar</span></a>
                                </div>
                            </div>                                
                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
   </form>  
{% endblock page_content %}    
{% block js_page %} {% endblock js_page %}
    